/**********DEBUT RESET**********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********FIN RESET**********/

/*********
  <!--<style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>-->
*************/

body {
  font-size: 18px;
  /*background-color: black;*/
  background-color: hsl(27, 66%, 92%);  /*Cream: hsl(27, 66%, 92%)*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 100px;*/
  /*margin-top: 150px;*/
  /*border: 1px solid black;*/
}

/*.big_box {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
/*align-items: center;*/
/* margin-top: 100px;*/
/*margin-top: 150px;*/
/*border: 1px solid black;*/
/*height: 100px;*/
/*width: 900px;*/
/*margin-left: 100px;*/
/*background-color: hsl(27, 66%, 92%);*/
/*background-color: black;*/
/*height: 100vh;*/
/*}*/


/**********DEBUT headder_card**********/
.header_card {
  background-color: hsl(10, 79%, 65%); /*- Soft red: hsl(10, 79%, 65%)*/
  border-radius: 8px 8px 8px 8px;
  color: bisque;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.write {
  /*border: 1px solid #fff;*/
  margin-left: 30px;
}

.write_alpha {
  font-size: 1rem;
}

.write_num {
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  /*border: 1px solid #fff;*/
  margin-right: 30px;
  /*margin-left: 400px;*/
}

/**********FIN headder_card**********/

/**********DEBUT body_card**********/
.body_card {
  background-color: hsl(33, 100%, 98%);
  color: black;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid  hsl(33, 100%, 98%);
  height: 400px;
  width: 500px;
  margin-top: 1.5rem;
}

.spending {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(25, 47%, 15%); /*Dark brown: hsl(25, 47%, 15%)*/
  /*padding-top: 2rem;*/
  margin-top: 2rem;
  margin-left: 30px;
  margin-right: 30px;
  /*border: 1px solid blueviolet;*/
}

.graphics{
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid palevioletred;
}

.graphic_1{
  height: 5rem;
  width: 2.1rem;
  background-color:  hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
}

.graphic_2{
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 2.1rem;
  background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;

}

.graphic_3{
  height: 5rem;
  width: 2.1rem;
  background-color:  hsl(186, 34%, 60%); /*- Cyan: hsl(186, 34%, 60%)*/
  border-radius: 5px 5px 5px 5px;
}

.graphic_4{
  height: 5rem;
  width: 2.1rem;
  background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
}

.graphic_5{
  height: 5rem;
  width: 2.1rem;
  background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
}

.graphic_6{
  height: 5rem;
  width: 2.1rem;
  background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
}

.graphic_7{
  height: 5rem;
  width: 2.1rem;
  background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
}


.days{
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  margin-top: 0rem;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid palevioletred;
  color: hsl(28, 10%, 53%); /*Medium brown: hsl(28, 10%, 53%)*/
}

.mon{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid palevioletred;
}

.tue{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid palevioletred;
}

.wed{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid palevioletred;
}

.thu{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid palevioletred;
}

.fri{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid palevioletred;
}

.sat{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid palevioletred;
}

.sun{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid palevioletred;
}
/*
.days {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0.3rem;
  color: hsl(28, 10%, 53%); /*Medium brown: hsl(28, 10%, 53%)*/

  /*
  margin-top: 10rem;
  margin-left: 30px;
  margin-right: 30px;
  */

  /*border: 1px solid yellowgreen;*/
/*}*/

/*.tue{
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2.1rem;
  /*background-color: hsl(10, 79%, 65%); /*Soft red: hsl(10, 79%, 65%)*/
  /*border-radius: 5px 5px 5px 5px;*/
  /*border: 1px solid palevioletred;*/
/*}*/

/**********FIN body_card**********/

/**********DEBUT footer_card**********/
.footer_card {
  display: flex;
  justify-content: space-between;

  background-color: hsl(33, 100%, 98%);
  color: black;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid blue;
  /* height: 370px;*/
  width: 500px;
}

.post{
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #000;
}

.alph_left{
  font-size: 1rem;
  color: hsl(28, 10%, 53%); /*Medium brown: hsl(28, 10%, 53%)*/
}

.num_left{
  font-size: 3rem;
  font-weight: bold;
  color: hsl(25, 47%, 15%); /*Dark brown: hsl(25, 47%, 15%)*/
}

.most{
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #000;
}

.num_right{
  font-size: 1.1rem;
  color: hsl(25, 47%, 15%); /*Dark brown: hsl(25, 47%, 15%)*/
  font-weight: bold;
}

.alph_right{
  font-size: 1rem;
  color: hsl(28, 10%, 53%); /*Medium brown: hsl(28, 10%, 53%)*/
}


/**********FIN footer_card**********/