*.{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

/*COLOR*/

/*
- Soft red: hsl(10, 79%, 65%)
- Cyan: hsl(186, 34%, 60%)
- Dark brown: hsl(25, 47%, 15%)
- Medium brown: hsl(28, 10%, 53%)
- Cream: hsl(27, 66%, 92%)
- Very pale orange: hsl(33, 100%, 98%)
*/

/*********

  <!--<style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>-->

*************/

/*body{
    /*background-color: hsl(27, 66%, 92%);*/
    /*font-size: 18px;*/
   /* border: 20px solid black;*/
/*}*/

.big_box {
    /*display: flex;*/
    /*border: 10px solid rgb(253, 0, 0);*/
    /*height: 100px;*/
    /*width: 900px;*/
    /*margin-left: 100px;*/
    /*background-color: hsl(27, 66%, 92%);*/
    /*background-color: black;*/
}

.header_card {
    background-color: hsl(10, 79%, 65%);
    border-radius: 10px 10px 10px 10px;
    color: bisque;
    /* height: 100px; */
    width: 500px;
}

.body_card {
    background-color: hsl(27, 66%, 92%);
    color: black;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(255, 0, 221);
   /*height: 370px;*/
    width: 500px;
}

.days{
    border: 3px solid yellowgreen;
}

.line {
    border: 1px solid gray;
width: 500px;
}

.footer_card {
    border-color: bisque;
    color: black;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid blue;
   /* height: 370px;*/
    width: 500px;
}